<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		  <h1>Editing Book</h1>
  		  <form action="/books/39465" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off"><input type="hidden" name="authenticity_token" value="3zeGKRUCtN_qG-2Tw_LCjgHBtW-B7SeOeoN6q-frIpJYucA7EmkiwAvAmr0N-gZ5p46RZuRHtv_-QngMwFLAnQ" autocomplete="off">
        <div class="form-group">
          <label for="book_title">Title</label>
          <input class="form-control book_title" type="text" value="タイトル" name="book[title]" id="book_title">
        </div>
        <div class="form-group">
          <label for="book_opinion">Opinion</label>
          <textarea class="form-control book_body" name="book[body]" id="book_body">a</textarea>
        </div>
        <div class="form-group">
          <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
        </div>
        </form>
  		<a class="book_39465" href="/books/39465">Show</a> |
  		<a class="back" href="/books">Back</a>
      </div>
    </div>
  </div>
</main>


<!--<div class="row">-->
<!--  <div class="col-xs-offset-3 col-xs-6">-->
<!--    <h1>Editing Book</h1>-->
<!--      <%= render 'books/error', model: @book %>-->
<!--      <%= render 'book', book: @newbook, user: @user %>-->
<!--    <div class="menu">-->
<!--      <%= link_to "Show", book_path(@book) %>-->
<!--      |-->
<!--      <%= link_to "Back", books_path %>-->
<!--    </div>-->
<!--    </div>-->
<!--  <div class="col-xs-3"></div>-->
<!--</div>-->